extends layout 
block dropdown
    a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Hello! #{user}
    div(class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown") 
        a(class="dropdown-item" href="#") Cart
        a(class="dropdown-item" href="#") Orders
        div(class="dropdown-divider")
        a(class="dropdown-item" href="/signout") signout
        
        
