doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")  
        script(src="https://code.jquery.com/jquery-1.10.2.js")  
        script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        title gadgetsHub
    body
        nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
            a(class="navbar-brand" href="#") gadgetsHub
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                form(class="form-inline my-2 my-lg-0" action="/searchResults")
                    input(class="form-control mr-sm-2" id="auto" name="search" type="search" placeholder="Search" aria-label="Search")
                    button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search

            block navContent
        block content
        script.
            //- sample data ["lochan","loki","lokesh","liam","labuschagne","lasith","lakmal","luke","lewis","lahiru","lincoln"]
            var arr;
            $("#auto").autocomplete({source: function(data, cb){
                $.ajax({
                    url: `/api/allProducts`,
                    method: 'GET',
                    dataType: 'json',
                    data: {
                        search  : data.term
                    },
                    success: function(res){
                        var result=[];
                        for(var i=0;i<res.length;i++)
                        {
                            result.push({label:res[i].name})
                        }
                        if(!result.length)
                        {
                            result = [{label:"no matches found"}]
                        }
                        cb(result);
                    }
                });
            }})
            
        
            