extends layout 
block content 
        if (prompt)
            p #{prompt}
        else
            form(method="POST") 
                input(name="password" type="password" placeholder="enter your new password" required)
                button(type="submit") Reset Password 
