extends layout 
block content 
    form(action="/signup", method="POST")
        label(for="name") Username: 
        input(type="text" name="username")
        br
        br
        label(for="mail") Mail Id: 
        input(type="text" name="email")
        br
        br
        label(for="password") Password: 
        input(type="password" name="password") 
        br
        br
        if (prompt)
                p #{prompt}
        
        br
        br
        button(type="submit") Submit
              