extends layout 
block navContent
    ul(class="navbar-nav ml-auto")
            li(class="nav-item") 
                a(href="/signin") Signin
block content 
    form(action="/signup", method="POST")
        label(for="username") Name: 
        input(type="text" name="username" placeholder="Enter your name" required)
        br
        br
        label(for="email") Email: 
        input(type="text" name="email" placeholder="Enter your email" required)
        br
        br
        label(for="password") Password: 
        input(type="password" name="password" placeholder="Enter your password" required) 
        br
        br
        if (prompt)
                p #{prompt}
        
        br
        br
        button(type="submit") Submit
        br
    a(href="/signin") Signin
              